// Theme Colors
$primary: #5AC8FA;
$secondary: #FF3B30;
$theme-colors: (
    "primary": $primary, 
    "secondary": $secondary, 
    "light": #CCC, 
    "dark": #000, 
    "grey": #999
);

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 1.15rem;
$headings-font-weight: 700;
$h1-font-size: 4rem;
$h2-font-size: 2rem;

// Badges
$badge-font-weight: 400;

// Buttons
$btn-font-size: 0.8rem; 
$btn-font-weight: 600;
$btn-padding-y: 0.6rem;
$btn-padding-x: 2rem;
$btn-border-radius: 0px;

// Cards
$card-border-radius: 0px;

// Form Inputs
$input-border-radius: 0px;
$input-font-size: 0.9rem;
$input-padding-x: 0.8rem;
$input-padding-y: 0.5rem;

// Navbar 
$navbar-padding-y: 0px; 
$navbar-padding-x: 0px;
$navbar-nav-link-padding-x: 25px;

@import "node_modules/bootstrap/scss/bootstrap";

.no-gutters{ padding: 0; }

// Backgrounds
.bg-blue-gradient{
    background-image: url('../img/bg-blue-gradient.jpg');
    background-repeat: repeat-x; 
    background-size: contain;
}
.bg-grey-gradient{
    position: relative;

    &::after{
        content: ""; 
        background-image: url('../img/bg-grey-gradient-2.jpg');
        background-repeat: repeat-x; 
        background-size: contain;
        position: absolute; 
        top: 0; bottom: 0; 
        left: 0; right: 0;
        z-index: -1;

        @include media-breakpoint-up(md){
            background-image: url('../img/bg-grey-gradient.jpg');
            background-repeat: repeat-y;
            right: -77px; 
        }
    }
}
.bg-dark{
    position: relative;

    &::after{
        @include media-breakpoint-up(md){
            content: ""; 
            background-color: #000;
            position: absolute; 
            top: 0; bottom: 0; 
            left: 0; right: -77px; 
            z-index: -1;
        }
    }
}

// Buttons
.btn-animate{
    span{
        margin: 0;
        transition: 0.3s all ease;
        position: relative;
    }

    &:hover span{
        margin: 0 20px 0 0;
    }

    i{
        position: absolute;
        top: 4px;
        right: 0;
        opacity: 0;
        transition: 0.3s all ease;
    }

    &:hover i{
        right: -20px;
        opacity: 1;
    }
}

// Navbar
nav{
    position: relative;
    z-index: 100;

    .navbar-brand{
        width: 77px;
        padding: 15px 20px 14px;
        background: #000;
        font-size: 2rem;
    }
        
    .navbar-toggler{
        margin: 0 20px 0;
    }   

    #navbar-links{
        overflow: hidden;
        position: absolute;
        top: 0; bottom: 0; 
        left: 77px; right: 0;
        
        .navbar-collapse{
            align-self: center;
            display: flex;
        }

        #navbar{
            padding: 0 30px 0 0;

            .navbar-nav{
                flex-direction: row !important;
                justify-content: flex-end;

                @include media-breakpoint-up(md){
                    flex-direction: column;
                }

                .nav-item{
                    font-size: 0.85rem;
                    align-self: center;
        
                    .nav-link{
                        transition: 0.3s all ease;
                        padding: 0 10px;

                        svg{
                            fill: #CCCCCC;
                            width: 35px;
                            transition: 0.6s all ease;
                        }
        
                        &.active{
                            font-weight: 700;

                            svg{
                                fill: #707070;
                            }
                        }
                    }
                
                    .btn{
                        border-radius: 30px;
                        font-size: 0.9rem;
                        padding: 0.4rem 2rem;
                    }
                }
            }
        }
    }
}

// Icon Navigation
.icon-navigation{
    ul{
        list-style: none; 
        margin: 0; 
        padding: 0; 

        a{
            display: block;
            svg{
                height: 35px;
                transition: 0.6s all ease;
            }
        }
    }

    &.horizontal{

        ul{
            display: flex;
            justify-content: center;

            li{
                margin: 0 20px;
            }
        }
    }

    &.vertical{

        ul{

            li{
                margin: 20px 0;
            }
        }
    }

    &.light{
        a{
            svg{
                fill: #CCCCCC;
            }

            &.active, 
            &:hover{
                svg{
                    fill: #707070;
                }
            }
        }
    }
    &.dark{
        a{
            svg{
                fill: rgba(255, 255, 255, 0.295);
            }

            &.active, 
            &:hover{
                svg{
                    fill: #fff;
                }
            }
        }
    }
}

// Login & Registration Form
.auth-form{

    .card{
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        label{
            font-size: 0.9rem;
            margin: 0;
        }
    }
}

// Annoucement Page
#announcement-page{
    position: relative;

    .apple-logo{
        font-size: 18rem;
        line-height: 1;
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 50%; left: 50%;
        margin-top: -100px;
        z-index: 0;
    }

    #announcement-text{
        padding: 200px 0 100px;
        z-index: 1;

        p{
            font-size: 0.95rem;
            margin-top: 1rem;
            font-weight: 500;
        }
        #launchYear{
            padding: 50px 0 100px;
        }
    }
}

// Home Page
#home-page{
    position: relative;

    .apple-logo{
        font-size: 18rem;
        line-height: 1;
        color: rgba(204, 204, 204, 0.18);
        position: absolute;
        top: 50%; left: 50%; 
        transform: translateX(-50%) translateY(-50%);
        margin-top: -100px;
        z-index: 0;
    }

    #homepage-text{
        padding: 170px 0;
        z-index: 1;
    }
}

// Product Page
.container-wrapper{
    @include media-breakpoint-up(lg){
        margin: 0 77px;
    }
}
.product-page{
    position: relative;
    overflow: hidden;

    .vertical-navigation{
        position: fixed; 
        top: 170px; 
        right: 20px;
        z-index: 100; 
    }
    .product-information{
        padding: 2.5rem 0 0 2.5rem;
    }

    .banner{
        padding: 0rem 2.5rem 0 2.5rem;
        min-height: 450px;
        
        .banner-logo{
            position: absolute; 
            top: 50px; 
            left: 50%; 
            transform: translateX(-50%);
            color: #f4f4f4;
            font-size: 13rem;
        }

        .banner-text{
            padding: 4rem 0 0;
            p{
                padding: 0 5rem 0 0;
            }
        }
    }
}

// iPhone Page 
#iphone-page{

    .product-image{
        max-width: 100%;
        @include media-breakpoint-up(lg){
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            max-width: 350px;
        }
    }

    #phone-toggles{

        .phone-toggle{
            border: 0px; 
            text-align: center;
            margin: 0 10px;
            outline: none;
            border: 1px solid #f2f2f2; 
            opacity: 0.5;
            transition: 0.3s all ease;
            width: 80px;
            padding: 10px;
            border-radius: 20px;

            &.active, 
            &:hover{
                border: 1px solid #ff3b30;    
                opacity: 1;
            }

            img{
                width: 100%;
            }

        }
    }
    
}

// Macbook Page 
#macbook-page{

    .banner{

        h1{
            span{
                display: block;
                white-space: nowrap;
            }
        }

        #macbook-details{
            opacity: 0.4;
        }

        .product-image{
            width: 100%;
            opacity: 0.64;

            @include media-breakpoint-up(md){
                height: 450px;
                width: auto;
            }
        }
    }
    
    .product-information{
        padding: 0;

        @include media-breakpoint-up(lg){
            padding: 2.5rem 0 0 2.5rem;
        }
    }

    #subscribe-form{
        background: #F2F2F2;
        padding: 3rem 3rem 5rem;
        margin-top: -5rem;
        position: relative;
    }

}

// Watch Page 
#watch-page{

    .product-image{
        max-width: 100%;
        height: auto;
        max-height: 400px;

        @include media-breakpoint-up(xl){
            margin-top: 25px;
        }
    }

    #watch-toggles{
        .watch-toggle{
            border: 0px; 
            background: transparent;
            text-align: center;
            margin: 0 20px;
            font-size: 0.7rem;
            outline: none;
            color: rgba(0, 0, 0, 0.5);
            transition: 0.3s all ease;

            .color-swatch{
                border: 1px solid #f2f2f2; 
                transition: 0.3s all ease;
                width: 40px; 
                height: 40px;
                border-radius: 50%;
                margin: 0 auto 10px;
                position: relative;

                &::after{
                    content: ""; 
                    position: absolute;
                    top: 5px; 
                    bottom: 5px; 
                    left: 5px; 
                    right: 5px;
                    border-radius: 50%;
                }
            }

            &#white-band-tab{
                .color-swatch{
                    &::after{
                        border: 1px solid #d2d2d2;
                    }
                }
            }

            &#black-band-tab{
                .color-swatch{
                    &::after{
                        background: #000;
                    }
                }
            }

            &.active{
                .color-swatch{
                    border-color: #ff3b30;
                }
            }

            &:hover{
                color: #000;
            }

        }
    }

}


// Dev
.container.dev,
.container-fluid.dev { border: 1px solid green; }
.container.dev .row,
.container-fluid.dev .row { border: 1px solid blue; }
.container.dev .row [class*="col-"],
.container-fluid.dev .row [class*="col-"] { border: 1px solid red; }
.row.dev { border: 1px solid blue; }
.row.dev [class*="col-"] { border: 1px solid red; }
form.dev { border: 1px solid blue; }
form.dev [class*="col-"] { border: 1px solid red; }